---
import Paragraph from "./atom/Paragraph.astro"
import H3 from "./atom/H3.astro"
---
<footer class="container mx-auto max-w-5xl py-10">
    <section class="py-10 flex gap-8">
        <a href="/about-us">
            <H3
                text="ABOUT"
            />
        </a>
        <a href="/services">
            <H3
                text="SERVICES"
            />
        </a>
        <a href="/our-work">
            <H3
                text="OUR WORK"
            />
        </a>
        <a href="/insights">
            <H3
                text="INSIGHTS"
            />
        </a>
        <a href="/contact">
            <H3
                text="CONTACT"
            />
        </a>
    </section>
    <section class="py-10">
        <Paragraph
            text="© Pixel Protin. All Rights Reserved"
        />
    </section>
</footer>
